.vb-menu {
  background-color: #1e1e2e;
  border-radius: 12px;
  padding: 10px;
  color: white;
  font-family: "JetBrainsMono Nerd Font";
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

scale {
  min-width: 40px;
  min-height: 100px;
}

